<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Precio</th>
      <th>Moneda</th>
      <th>Casa de cambio</th>
      <th>Tipo precio</th>
      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.price %></td>
        <td><%= price.name_money %></td>
        <td><%= price.name_exchange_office %></td>
        <td><%= price.name_price_type %></td>
        <td><%= price.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Primer Scraping", "/main/scraping_done", method: :post %> <br>
<%= link_to "Segundo Scraping", "/main/scraping_not_done", method: :post %> <br>
<%= link_to "Replicar Precios", "/main/replicate_price", method: :post %> <br>
<%= link_to "Eliminar Scraping", "/main/destroy_scraping", method: :post %>