<p id="notice"><%= notice %></p>

<p>
  <strong>Mesagge:</strong>
  <%= @message.mesagge %>
</p>

<p>
  <strong>Date:</strong>
  <%= @message.date %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
