<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Name form:</strong>
  <%= @form.name_form %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
